---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';

// import { LikeCounterR } from '@components/likes/LikeCounterR';
import { LikeCounterRAction } from '@components/likes/LikeCounterRAction';
import LikeCounterAction from '@components/likes/LikeCounterAction.vue';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
  <div style={{ height: '50px' }}>
    <!-- <LikeCounterR postId={post.id} client:only="react" /> -->
    <LikeCounterRAction postId={post.id} client:only="react" />
    <!-- <LikeCounterAction postId={post.id} client:only="vue" /> -->
  </div>
  <Content />
</BlogPost>
